# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment files
.env

# Build artifacts
dist/
build/

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.bak

# IDE specific files
.vscode/
.idea/
.vercel
